
.awesome__title{
    text-transform: uppercase;
    padding-top: 100px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    text-align: center;
}

.awesome__title::after{
    content: '';
    display: block;
    width: 64px;
    border: 1px solid #D98943;
    margin: 20px auto;
}

.awesome__text{
    margin-bottom: 50px;
    color: #86878B;
    text-align: center;
}

.awesome__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
    margin-bottom: 50px;
}

.awesome__box-item{
    width: 350px;
    text-align: center;
    margin: 0 15px;
}

.box-item__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 1px solid #D98943;
    border-radius: 50%;
    margin: 20px auto;
}

.box-item__title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

