.header{
    background-color: #000;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-item{
    display: inline-block;
    margin-right: 48px;
    color: #fff;
    padding: 20px 0;
}

.header__nav-item:last-child{
    margin-right: 0;
}

.header__nav-item-link{
    color:inherit;
    text-decoration: none;
    transition: all 0.5s;
}

.header__nav-item-link:hover{
    color: #D98943;
    border-bottom: 1px solid #D98943;
    transform: scale(1.2);
    display: block;
}