.social{
    background-color: #f8efef;
}

.social__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__text{
    width: 400px;
}

.social__title{
    margin-top: 10px;
}

.social__content{
    color: #86878B; 
    padding: 20px 0;
}

.social__list{
    display: flex;
}

.social__icons .fab,
.social__icons .fas{
    font-size: 40px;
    padding: 10px;
    
}

.social__icons .fab
{
    margin-right: 15px;   
}

.social__links{
    color: #86878B;
    transition: all 0.5s;
}

.social__links:hover{
    color: #000;
}
