/* @import url("../css/awesome.css"); */
@import 'awesome.css';
@import 'pricing.css';
@import 'customers.css';
@import 'axure.css';
@import 'header.css';
@import 'social.css';
@import 'footer.css';
@import 'prototypes.css';
@import 'contact.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

